@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.image-home {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.layout-1 {
  display: flex;
  align-items: center;
}

.left {
  width: 250px;
  height: 300px;
  background: url("/artist.png") no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 10;
  margin-right: -100px;
  margin-top: 400px;
  border-radius: 2px;

}

.left img{
  z-index: 10;
  width: 250px;
  height: 300px;
  border: 3px solid white;
}

.responsive {
  width: 100%;
  min-height: 300px ;
}

@media (max-width: 700px) {
  .left{
    display: none;
  }
}
@media (min-width: 799px) and (max-width: 999px) {
  .responsive{
    height: 800px;
  }
}
@media (max-width: 600px) {
  .responsive {
    height: 600px;
  }
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #EB1D36;
  border-radius: 5rem;
}

section {
  padding: 2rem 9%;
  background-color: #0e0a0a;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
}

.heading span {
  font-family: 'Satisfy', cursive;
  font-size: 3rem;
  color: #27ae60;
}

.heading h3 {
  font-size: 3rem;
  color: #130f40;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .7rem 1.8rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #fff;
  background: #27ae60;
  border-radius: .5rem;
}

.btn:hover {
  background: #130f40;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #0e0a0a;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 9%;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: white;
}

.header .logo i {
  padding-right: .5rem;
  color: #EB1D36;
}

.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: white;
}

.header .navbar a:hover {
  color: #EB1D36;
}

.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  background: #f7f7f7;
  color: #130f40;
  border-radius: .5rem;
  margin-left: .3rem;
  cursor: pointer;
  text-align: center;
}

.header .icons div:hover {
  color: #fff;
  background: #EB1D36;
}

#menu-btn {
  display: none;
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
    opacity: 0;
  }
}

.search-form-container {
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  height: calc(100vh - 8.5rem);
  background: #fff;
  z-index: 1000;
  display: none;
}

.search-form-container.active {
  display: block;
}

.search-form-container form {
  height: 7rem;
  border-bottom: 0.2rem solid #130f40;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeUp .4s linear;
          animation: fadeUp .4s linear;
}

.search-form-container form input {
  height: 100%;
  width: 100%;
  font-size: 1.7rem;
  color: #130f40;
  text-transform: none;
  padding-right: 1rem;
}

.search-form-container form label {
  font-size: 3rem;
  cursor: pointer;
  color: #130f40;
}

.search-form-container form label:hover {
  color: #27ae60;
}

.shopping-cart-container {
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  z-index: 1000;
  height: calc(100vh - 8.5rem);
  background: #fff;
  overflow-y: scroll;
  padding-bottom: 8rem;
  display: none;
}

.shopping-cart-container.active {
  display: block;
}

.shopping-cart-container::-webkit-scrollbar {
  width: 1rem;
}

.shopping-cart-container::-webkit-scrollbar-track {
  background: #fff;
}

.shopping-cart-container::-webkit-scrollbar-thumb {
  background: #130f40;
  border-radius: 5rem;
}

.shopping-cart-container .title {
  font-size: 2.5rem;
  padding: 1rem;
  color: #130f40;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  text-align: center;
}

.shopping-cart-container .products-container {
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  -webkit-animation: fadeUp .4s linear;
          animation: fadeUp .4s linear;
}

.shopping-cart-container .products-container .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  padding: 1.5rem;
}

.shopping-cart-container .products-container .box-container .box {
  border-radius: .5rem;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  position: relative;
}

.shopping-cart-container .products-container .box-container .box .fa-times {
  position: absolute;
  top: .7rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: #130f40;
}

.shopping-cart-container .products-container .box-container .box .fa-times:hover {
  color: #27ae60;
}

.shopping-cart-container .products-container .box-container .box img {
  height: 8rem;
}

.shopping-cart-container .products-container .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
}

.shopping-cart-container .products-container .box-container .box .content span {
  font-size: 1.5rem;
  color: #666;
}

.shopping-cart-container .products-container .box-container .box .content span.price {
  color: #27ae60;
  font-size: 1.7rem;
}

.shopping-cart-container .products-container .box-container .box .content input {
  width: 8rem;
  padding: .5rem 1.2rem;
  font-size: 1.5rem;
  color: #130f40;
  margin: .7rem 0;
}

.shopping-cart-container .cart-total {
  margin-top: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  -webkit-animation: fadeUp .4s linear .4s backwards;
          animation: fadeUp .4s linear .4s backwards;
}

.shopping-cart-container .cart-total .box {
  padding: 1.5rem;
}

.shopping-cart-container .cart-total .box h3 {
  color: #130f40;
  font-size: 2rem;
  padding-bottom: .7rem;
}

.shopping-cart-container .cart-total .box h3 span {
  color: #27ae60;
}

.login-form-container {
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  z-index: 1000;
  height: calc(100vh - 8.5rem);
  background: #fff;
  padding: 0 2rem;
  display: none;
}

.login-form-container.active {
  display: block;
}

.login-form-container form {
  margin: 2rem auto;
  max-width: 40rem;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: .5rem;
  -webkit-animation: fadeUp .4s linear;
          animation: fadeUp .4s linear;
}

.login-form-container form h3 {
  padding-bottom: 1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #130f40;
}

.login-form-container form .box {
  margin: .7rem 0;
  border-radius: .5rem;
  background: #f7f7f7;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
  width: 100%;
}

.login-form-container form .remember {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
}

.login-form-container form .remember label {
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.login-form-container form .btn {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}

.login-form-container form p {
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #666;
}

.login-form-container form p a {
  color: #27ae60;
}

.login-form-container form p a:hover {
  color: #130f40;
  text-decoration: underline;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}

.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
          margin-left: 30px;
          margin-right: 30px;
}

.home .content span {
  display: block;
  margin-top: 50px;
  font-size: 2rem;
  color: white;
}

.home .content h3 {
  font-size: 8rem;
  color: white;
  padding-top: 1rem;
  font-family: 'BIZ UDPGothic', sans-serif;
  text-transform: uppercase;
}

.home .content p {
  font-size: 1.4rem;
  color: white;
  line-height: 2;
  padding: 1rem 0;
  text-transform: none;
  width: 60%;
  justify-content: center;
}

.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
  margin: 2rem 0;
  pointer-events: none;
}

.home .image .home-img {
  width: 100%;
  margin-top: 5rem;
}

.btn-home {
  background-color: #0e0a0a;
  border: 2px solid white;
}

.btn-home:hover{
  background-color: white;
  border: 2px solid white;
  color: #0e0a0a;
}


.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background: #0e0a0a;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
          margin-left: 30px;
          margin-right: 30px;
}

.about .content span {
  display: block;
  margin-top: 50px;
  font-size: 2.5rem;
  color: white;
}

.about .content h3 {
  font-size: 8rem;
  color: white;
  padding-top: 1rem;
  font-family: 'BIZ UDPGothic', sans-serif;
  text-transform: uppercase;
}

.about .content p {
  font-size: 1.4rem;
  color: white;
  line-height: 2;
  padding: 1rem 0;
  text-transform: none;
  width: 70%;
  justify-content: center;
}





.journey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background: #0e0a0a;
}

.journey .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.journey .image img {
  width: 100%;
  background-color: #D8D8D8;
}

.journey .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
          margin-left: 30px;
          margin-right: 30px;
}

.journey .content span {
  display: block;
  margin-top: 50px;
  font-size: 2.5rem;
  color: white;
}

.journey .content h3 {
  font-size: 8rem;
  color: white;
  padding-top: 1rem;
  font-family: 'BIZ UDPGothic', sans-serif;
  text-transform: uppercase;
}

.journey .content p {
  font-size: 1.4rem;
  color: white;
  line-height: 2;
  padding: 1rem 0;
  text-transform: none;
  width: 70%;
  justify-content: center;
}





.banner .row-banner .content {
  position: absolute;
  top: 50%;
  left: 7%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner .row-banner .content span {
  font-family: 'Satisfy', cursive;
  font-size: 4rem;
  color: #27ae60;
  color: #130f40;
}

.banner .content h3 {
  font-size: 6rem;
  color: white;
  text-transform: uppercase;
}

.banner .row-banner .content p {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.banner .grid-banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
}

.banner .grid-banner .grid {
  position: relative;
  border: 2px solid #D8D8D8;
  overflow: hidden;
  height: 45rem;
}

.banner .grid-banner .grid:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.banner .grid-banner .grid img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .grid-banner .grid .content {
  position: absolute;
  top: 2rem;
  padding: 0 2rem;
}

.banner .grid-banner .grid .content.center {
  text-align: center;
  width: 100%;
}

.banner .grid-banner .grid .content.center span {
  color: #666;
}

.banner .grid-banner .grid .content.center h3 {
  color: #130f40;
}

.banner .grid-banner .content span {
  font-size: 2.5rem;
  color: #fff;
}

.banner .grid-banner .content p {
  font-size: 2rem;
  color: #fff;
  padding-top: .5rem;
}

.banner .grid-banner .content hr {
  border: 1px solid white;
}








.more-sample .row-banner .content {
  position: absolute;
  top: 50%;
  left: 7%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.more-sample .row-banner .content span {
  font-family: 'Satisfy', cursive;
  font-size: 4rem;
  color: #27ae60;
  color: #130f40;
}

.more-sample .more-sample-desc .content p {
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
}

.more-sample .more-sample-desc .content span {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: #fff;
}

.more-sample .grid-banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
}

.more-sample .grid-banner .grid {
  position: relative;
  overflow: hidden;
  height: 50rem;
  width: 45rem;
}

.more-sample .grid-banner .grid img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}


.more-sample .grid-banner .grid-2 {
  position: relative;
  overflow: hidden;
  height: 55rem;
}

.more-sample .grid-banner .grid-2 img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.more-sample .grid-banner .grid .content {
  position: absolute;
  top: 2rem;
  padding: 0 2rem;
}




.qoute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background: #0e0a0a;
}

.qoute .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.qoute .image img {
  width: 100%;
}

.qoute .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
          margin-left: 30px;
          margin-right: 30px;
}

.qoute .content span {
  display: block;
  margin-top: 50px;
  font-size: 2.5rem;
  color: white;
}

.qoute .content h3 {
  font-size: 6rem;
  color: white;
  padding-top: 1rem;
  font-family: 'BIZ UDPGothic', sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
}

.qoute .content p {
  font-size: 1.4rem;
  color: white;
  line-height: 2;
  padding: 1rem 0;
  text-transform: none;
  width: 70%;
  justify-content: center;
}




.footer {
  background: #0e0a0a;
}

.footer .newsletter {
  text-align: center;
  margin-bottom: 2rem;
}

.footer .newsletter h3 {
  font-size: 2.5rem;
  color: white;
  padding-bottom: 1rem;
}

.footer .newsletter form {
  max-width: 70rem;
  margin: 1rem auto;
  max-width: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: .5rem;
  overflow: hidden;
}

.footer .newsletter form input[type="email"] {
  height: 100%;
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
}

.footer .newsletter form input[type="submit"] {
  padding: 0 2rem;
  font-size: 1.6rem;
  color: #fff;
  background: #EB1D36;
  cursor: pointer;
}

.footer .newsletter form input[type="submit"]:hover {
  background: white;
  color: #0e0a0a;
  border: 1px solid #EB1D36;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #EB1D36;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}

.footer .box-container .box a:hover {
  color: white;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box a i {
  padding-right: .5rem;
  color: #EB1D36;
}

.footer .bottom {
  padding-top: 1rem;
  text-align: center;
}

.footer .bottom .share {
  margin: 1.5rem 0;
}

.footer .bottom .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  border-radius: .5rem;
  margin: 0 .3rem;
  color: #fff;
  background: #EB1D36;
}

.footer .bottom .share a:hover {
  background: white;
  color: #0e0a0a;
}

.footer .bottom .credit {
  font-size: 2rem;
  color: #666;
  padding: 1rem;
}

.footer .bottom .credit span {
  color: #EB1D36;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    font-size: 2rem;
    margin: 2rem;
    display: block;
  }
  .home .home-parallax-img {
    top: 0;
    right: 0;
    width: 130%;
  }
  .order form .flex .inputBox {
    width: 100%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .shopping-cart-container .cart-total .box {
    text-align: center;
  }
  .shopping-cart-container .cart-total .box .btn {
    width: 100%;
  }
  .home .content h3 {
    font-size: 3rem;
  }
  .home .content p {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */